# tune_alarm_setting_t
CFLAGS += -DTUNE_ALARM_SETTING_0_DAY=0
CFLAGS += -DTUNE_ALARM_SETTING_0_HOUR=0
CFLAGS += -DTUNE_ALARM_SETTING_0_MINUTE=0
CFLAGS += -DTUNE_ALARM_SETTING_0_TUNE_IDX=0
CFLAGS += -DTUNE_ALARM_SETTING_0_ENABLED=0

# movement_settings_t
CFLAGS += -DMOVEMENT_SETTINGS_LED_RED_COLOR=0
CFLAGS += -DMOVEMENT_SETTINGS_LED_GREEN_COLOR=0
CFLAGS += -DMOVEMENT_SETTINGS_TIME_ZONE=0
CFLAGS += -DMOVEMENT_SETTINGS_TO_INTERVAL=0
CFLAGS += -DMOVEMENT_SETTINGS_LE_INTERVAL=0
CFLAGS += -DMOVEMENT_SETTINGS_SILENT_FROM=0
CFLAGS += -DMOVEMENT_SETTINGS_SILENT_TO=0
CFLAGS += -DMOVEMENT_SETTINGS_BUTTON_SHOULD_SOUND=0
CFLAGS += -DMOVEMENT_SETTINGS_ALARM_ENABLED=0
CFLAGS += -DMOVEMENT_SETTINGS_CLOCK_MODE_24H=0

# movement_location_t
CFLAGS += -DMOVEMENT_LOCATION_LATITUDE=0
CFLAGS += -DMOVEMENT_LOCATION_LONGITUDE=0

# movement_birthdate_t
CFLAGS += -DMOVEMENT_BIRTHDATE_YEAR=0
CFLAGS += -DMOVEMENT_BIRTHDATE_MONTH=0
CFLAGS += -DMOVEMENT_BIRTHDATE_DAY=0
CFLAGS += -DMOVEMENT_BIRTHDATE_HOUR=0
CFLAGS += -DMOVEMENT_BIRTHDATE_MINUTE=0

# watch_date_time
CFLAGS += -DWATCH_DATE_TIME_YEAR=$(shell echo $$(($(shell date +"%Y") - 2020)))
CFLAGS += -DWATCH_DATE_TIME_MONTH=$(shell date +"%-m")
CFLAGS += -DWATCH_DATE_TIME_DAY=$(shell date +"%-d")
CFLAGS += -DWATCH_DATE_TIME_HOUR=$(shell date +"%-H")
CFLAGS += -DWATCH_DATE_TIME_MINUTE=$(shell date +"%-M")
CFLAGS += -DWATCH_DATE_TIME_SECOND=$(shell date +"%-S")